<h2>User info</h2>
<h2>New book</h2>
<%= form_with model: @book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_field :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td></td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <td>Edit</td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Destroy", book_path(@book), method: :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>